<div class="container mt-3">
    {{!-- <div id='prods_home' class="jumbotron"></div> --}}
    <div class="jumbotron" style="background-color: gray;color: white;text-align:center;">
        <h1>Aquí irán los productos</h1>
        <button class="btn btn-warning my-5" onclick="location.href='/cart'">IR AL CARRITO</button>
    </div>
</div>
