<div id="register" class="jumbotron">
    <h1 style="color:white;text-align:center;">Registro de Nuevo Usuario</h1>
    <form action="apiV1/user/register" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="name"><b>Nombre:</b></label>
            <input id="name" class="form-control" type="text" name="name" pattern="[^\d]+" required>
        </div>
        <div class="form-group">
            <label for="username"><b>Correo electrónico:</b></label>
            <input id="username" class="form-control" type="email" name="username" required>
        </div>
        <div class="form-group">
            <label for="address"><b>Dirección:</b></label>
            <input id="address" class="form-control" type="text" name="address" required>
        </div>
        <div class="form-group">
            <label for="age"><b>Edad:</b></label>
            <input id="age" class="form-control" type="number" name="age" min="1" max="150" maxlength="3" required>
        </div>
        <div class="form-group">
            <label for="password"><b>Contraseña:</b></label>
            <input id="password" class="form-control" type="password" name="password" required>
            <small id="passwordHelpInline" class="text-muted">Mínimo 8 caracteres</small>
        </div>
        <div class="form-group">
            <label for="phone"><b>Teléfono:</b></label>
            <input id="phone" class="form-control" type="tel" name="phone" required>
        </div>
        <div class="form-group">
            <label for="userImg"><b>Imagen:</b></label>
            <input id="userImg" type="file" name="userImg" style="background-color: transparent;border:transparent;" required>
        </div>
        <div class="text-center">
            <button class="btn btn-info mt-2 mb-2 px-5" type="submit" value="Registrarse">Registrarse</button>
        </div>
    </form>
    <hr>
    <div class="text-center" >
        <p class="m-0 p-0">Ya estoy registrado. </p>
        <a onclick="location.href = '/login'" style="color:white;cursor: pointer;text-decoration: underline;">Ir a Login</a>
    </div>
</div>
